
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin: auto auto;
}
.logo{
    width: 100%;
}
.logo img{
    width: 100%;
}

.publications{
    border: solid 3px black;
    width: 100%;
    
    text-align: center;
}
.publications-link{
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    font-size: 22px;
    margin-top: 5px;
    margin-bottom:5px ;
}
