
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin: auto auto;
}
.logo{
    width: 100%;
}
.logo img{
    width: 100%;
}

.publications{
    width: 100%;
    height: 60vh;
}

.publication{
    width: 100%;
    border: solid 2.5px black;
    padding: 3px 0;
    text-align: center;
    margin-bottom: 15px;
}
.publication-link{
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    font-size: 22px;
}

.contacts{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 10px;
}
.contacts-icon img{
    width: 75px;
}

@media (min-width: 920px) {
    .container{
        width: 50%;
    }
}
