body{
	background: no-repeat url("bg-6.png");
	background-size: 100vh 100vh;
}


.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin: auto auto;
}
.logo{
    width: 100%;
}
.logo img{
    width: 100%;
}

.publications{
    width: 100%;
    height: 60vh;
}

.publication{
    width: 100%;
    border: solid 2.5px black;
    padding: 3px 0;
    text-align: center;
    margin-bottom: 15px;
}
.publication-link{
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    font-size: 22px;

}

.contacts{
    width: 70%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 10px;
}
.contact-logo img{
  width: 120px;
}

.contacts-icon img{
    width: 120px;
}

@media (min-width: 920px) {
    body{
	background: no-repeat center/100% url("bg.png");
}
    .container{
        width: 50%;
    }
}
